@font-face {
  font-family: 'Electrolize';
  src: url('/assets/electrolize.ttf') format('ttf');
}

body {
  color: var(--mantine-color-gray-light-color);
  background-color: var(--mantine-color-black);
  overscroll-behavior: none;
}
